* {
    margin:0;
    padding:0;
    text-decoration: none;
}

body{
    background-color: #181818;
}

main{
    width: 90%;
    margin-left: 5%;
    margin: 0 auto;
    align-self: center;
}

/* ----------------------
          HEADER
---------------------- */
header{
    width: 100%;
    height: 56px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
}

header a img{
    height: 45px;
}

#logo-menu span{
    color:#797979;
    position: absolute;
    right:-1px;
    top: 13px;
    font-size: 12px;
}

/* searchbar = #121212 */
/* searchbar border = #282828 */
/* searchbar text = #797979 */

#logo-menu {
    display:flex;
    align-items: center;
    height: 60px;
    position: relative;
}
#side-menu{
    height: 24px;
    width: 24px;
    background-color:rgba(0,0,0,0);
    color:rgb(255,255,255);
    border-style: none;
    margin-left:27px;
    margin-right:8px;
}

header #search-bar{
    position: relative;
    background-color: rgba(0,0,0,0);
    width: 35%;
    height: 40px;
    color:#797979;
    display:flex;
}

#search-bar div{
    height: 100%;
    border-style:none;
    outline:none;
    width: 80%;
    position:relative;
}

#search-bar input{
    height: 100%;
    line-height: 24px;
    background-color: #121212;
    border: 1px solid #282828;
    outline:none;
    color:#797979;
    width: 100%;
}

.searchbar-icon{
    position:absolute;
    right:10px;
    top:12px;
}

.searchbar-icon:hover{
    color: #adadad;
}

#search-button{
    height: 40px;
    width: 60px;
    background-color:#282828;
    color:rgb(255,255,255);
    border-style: none;
    margin-left:0px;
    border-radius: 0 4px 4px 0;
}

#mic-button{
    height: 40px;
    width: 40px;
    background-color: #121212;
    color:rgb(255,255,255);
    border-style: none;
    margin-left:10px;
    border-radius: 50%;

}

#profil{
    height: 35px;
    width: 35px;
    background-color: rgb(150, 39, 172);
    color:rgb(255,255,255);
    border-style: none;
    margin-left:0px;
    border-radius: 50%;
    font-weight: bolder;
    font-size:larger;
}

#header-menu{
    color:white;
    display: flex;
    width: 225px;
    align-items: center;
    justify-content: space-around;
    margin-right:16px;
}


/* ----------------------
          VIDEO
---------------------- */

.iframe-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-style: none;
}

#content{
    padding:24px 24px 0px 0px;
    width: 70%;
    display:flex;
    flex-direction: column;
    color:white;
}

.hashtags{
    font-size: small;
    text-decoration: none;
    color:#3484d8;
}

.hashtags:visited{
    color:#3484d8;
}

#info h1{
    font-size: larger;
    font-weight: bold;
}

#video-info{
    padding-top: 20px;
    padding-bottom:8px;
    border-bottom: 1px solid #2a2a2a;
}

#video-info .views{
    display: inline-block;
    margin:10px 0px;
    color:#797979;
    font-size: medium;
}



/* ----------------------
          Description
---------------------- */
#description-subscribe{
    width: 100%;
    display:grid;
    grid-template-columns: 4% 46% 35% 15%;
    position: relative;
}

#description-subscribe a img{
    grid-column: 1/2;
    margin: 20px 0px;
    width: 100%;
    border-radius: 50%;
}

#description-subscribe #description{
    grid-column: 2/3;
    margin-top: 20px;
    margin-left:15px;
    width: 100%;
}

#description-subscribe h2{
    color:white;
    font-size: large;
    align-self: center;
    margin-top:5px;
}

#description-subscribe span{
    color:#797979;
    font-size: medium;
    align-self: center;
}

#description-subscribe span{
    color:#797979;
    font-size: medium;
}
#description-subscribe button{
    background-color: #cc0000;
    border-radius:2px;
    color:white;
    grid-column: 4/5;
    border-style:none;
    height: 40%;
    width: 80%;
    align-self: center;
    position:absolute;
    right:0px;
    text-align: center;
}
